html,
body {
  height: 100%;
}

body {
  background-color: #f4ebfd;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.container {
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.content-width {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .content-width {
    width: 1200px;
  }
}

.active {
  color: #8d2bff;
}

.link {
  color: #8d2bff;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 30px;
}

.header img {
  height: 245px;
  width: 100%;
  max-width: 100%;
  position: relative;
  top: -100px;
  margin-bottom: -50px;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .header img {
    margin-bottom: 0;
    height: 327px;
  }
}

h1 {
  font-size: 26px;
  font-family: "Playfair Display", serif;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin: 0;
}

a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #8d2bff;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.menu {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .menu {
    padding: 12px 0;
  }
}

.menu__logo {
  width: 110px;
}

.menu__links {
  width: max-content;
  margin: 0 auto;
  background-color: #f4ebfd;
  font-size: 20px;
  position: absolute;
  top: 70px;
  padding: 30px 0;
}

@media screen and (min-width: 1200px) {
  .menu__links {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    position: static;
    margin: 0;
    padding: 0;
  }
}

.menu__links li {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .menu__links li {
    margin: 0;
    width: fit-content;
  }
}

.menu__links a {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
}

.menu__links.expandMenu {
  display: none;
}

@media screen and (min-width: 1200px) {
  .menu__links.expandMenu {
    display: flex;
    justify-content: space-between;
  }
}

.menu__links.full-width {
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1200px) {
  .menu__links.full-width {
    width: 300px;
    transform: none;
  }
}

.menu__hamburger {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .menu__hamburger {
    display: none;
  }
}

.index-section__1 {
  position: relative;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .index-section__1 {
    margin-bottom: -50px;
  }
}

.index-section__1--photo {
  z-index: -1;
  background-image: url("../images/index-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  top: -70px;
}

@media screen and (min-width: 1200px) {
  .index-section__1--photo {
    height: 1500px;
    margin-bottom: -70px;
  }
}

.index-section__1--text {
  width: 80%;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #f4ebfd;
  padding: 25px 17px;
  line-height: 1.6;
}

@media screen and (min-width: 1200px) {
  .index-section__1--text {
    margin: 0;
    top: 150px;
    right: auto;
    left: auto;
    width: 465px;
    height: 230px;
    padding: 25px 20px;
  }
}

.index-section__1--fullwidth {
  margin: auto;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .index-section__1--fullwidth {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 150px;
    flex-direction: row;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.index-section__1--featured {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .index-section__1--featured {
    flex-direction: row;
    justify-content: space-between;
  }
}

.index-section__1--featuredproject {
  margin: 0 auto 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .index-section__1--featuredproject {
    margin: 0;
    width: 250px;
  }
}

.index-section__1--featuredproject h2 {
  margin-top: 25px;
}

.index-section__1--featuredproject--image {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .index-section__1--featuredproject--image {
    margin-top: 60px;
    width: 250px;
    height: 250px;
  }
}

.index-section__2--photo {
  position: relative;
  z-index: 2;
  background-image: url("../images/peony.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

@media screen and (min-width: 1200px) {
  .index-section__2--photo {
    top: -200px;
    margin-bottom: -200px;
    height: 510px;
  }
}

.index-section__3 {
  position: relative;
  background-color: #f4ebfd;
}

.index-section__3--flex {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

@media screen and (min-width: 1200px) {
  .index-section__3--flex {
    flex-direction: row;
    gap: 80px;
    padding: 150px 0;
  }
}

.index-section__3--flex--item1 img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .index-section__3--flex--item1 img {
    width: auto;
  }
}

footer {
  background-color: white;
  padding: 20px 0;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.footer__flex--icon {
  width: 30px;
  height: 30px;
}

.projects__flex {
  display: flex;
  flex-direction: column-reverse;
}

.projects__flex--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .projects__flex--item {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    gap: 150px;
  }
}

.projects__flex--item--header {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .projects__flex--item--header {
    margin-bottom: 50px;
  }
}

.projects__flex--item--paragraph {
  margin-bottom: 20px;
}

.projects__flex--item--ul {
  padding: 0 0 20px;
}

.projects__flex--item--image img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .projects__flex--item--image img {
    width: 300px;
  }
}

.projects__flex--item--column1 {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .projects__flex--item--colorsimg {
    overflow: hidden;
    width: 1200px;
    height: 535px;
  }
}

.projects__flex--item--colorsimg img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .projects__flex--item--colorsimg img {
    height: 1200px;
    width: 535px;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: top right;
  }
}

.projects__flex--item.colorsamples, .projects__flex--item--icons {
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.projects__flex--item--color-sample {
  width: 138px;
  height: 150px;
}

.projects__flex--item--color-sample.F7F3EE {
  background-color: #f7f3ee;
}

.projects__flex--item--color-sample.EADCCE {
  background-color: #eadcce;
}

.projects__flex--item--color-sample.B7856D {
  background-color: #b7856d;
}

.projects__flex--item--color-sample.EEC3B4 {
  background-color: #eec3b4;
}

.projects__flex--item--color-sample.E6E4E2 {
  background-color: #e6e4e2;
}

.projects__flex--item--color-sample.black {
  background-color: #1f1a10;
}

.projects__flex--item--color-sample.F8F8F8 {
  background-color: #f8f8f8;
}

.projects__flex--item--color-sample.FFF3ED {
  background-color: #fff3ed;
}

.projects__flex--item--color-sample.E5E5E5 {
  background-color: #e5e5e5;
}

.projects__flex--item--color-sample.E8E1D9 {
  background-color: #e8e1d9;
}

.projects__flex--item--color-sample.green-86a479 {
  background-color: #86a479;
}

.projects__flex--item--color-sample.black-1F2115 {
  background-color: #1f2115;
}

.projects__flex--item--color-sample.FFF3EB {
  background-color: #fff3eb;
}

.projects__flex--item--color-sample.F1DDCF {
  background-color: #f1ddcf;
}

.projects__flex--item--color-sample.FFBEB5 {
  background-color: #ffbeb5;
}

.projects__flex--item--color-sample.FF8676 {
  background-color: #ff8676;
}

.projects__flex--item--color-sample.FDFBDD {
  background-color: #fdfbdd;
}

.projects__flex--item--color-sample.FFF476 {
  background-color: #fff476;
}

.projects__flex--item--color-sample.B4D0AC {
  background-color: #b4d0ac;
}

.projects__flex--item--color-sample.E5F5E1 {
  background-color: #e5f5e1;
}

.projects__flex--item--color-sample.D8BFB1 {
  background-color: #d8bfb1;
}

.projects__flex--item--color-sample.green-5CAB8B {
  background-color: #5cab8b;
}

.projects__flex--item--color-sample.green-6BD1C4 {
  background-color: #6bd1c4;
}

.projects__flex--item--color-sample.black-000000 {
  background-color: #000000;
}

.projects__flex--item--color-sample.EC665E {
  background-color: #ec665e;
}

.projects__flex--item--color-sample.F5C85F {
  background-color: #f5c85f;
}

.projects__flex--item--color-sample.purple-7C38B2 {
  background-color: #7c38b2;
}

.projects__flex--item--color-sample.blue-3D718C {
  background-color: #3d718c;
}

.projects__flex--item--color-sample.F2F7F0 {
  background-color: #f2f7f0;
}

.projects__flex--item--color-sample.green-18352B {
  background-color: #18352b;
}

.projects__flex--item--color-sample.green-9FA87B {
  background-color: #9fa87b;
}

.projects__flex--item--color-sample.green-5D635D {
  background-color: #5d635d;
}

.projects__flex--item--color-sample.CE301B {
  background-color: #ce301b;
}

.projects__flex--item--icons {
  max-width: 500px;
}

.projects__flex--item--icons img {
  width: 50px;
}

.projects__flex--item--buttons {
  max-width: 500px;
}

.projects__flex--item--buttons img {
  width: 200px;
  margin-bottom: 20px;
}

.about-section--flex {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

@media screen and (min-width: 1200px) {
  .about-section--flex {
    flex-direction: row;
    gap: 80px;
    padding: 150px 0;
  }
}

.about-section--flex--item1 img {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .about-section--flex--item1 img {
    width: auto;
  }
}
