html,
body {
  height: 100%;
}

body {
  background-color: $maincolor-light;
  font-family: $font-secondary;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.container {
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 1200px;
    margin: 0 auto;
  }
}

.content-width {
  width: 80%;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 1200px;
  }
}

.active {
  color: $accent;
}

.link {
  color: $accent;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 30px;
}

.header img {
  height: 245px;
  max-width: 100%;
  position: relative;
  top: -100px;
  object-fit: cover;
  @media screen and (min-width: $breakpoint-desktop) {
    height: 327px;
  }
}
