nav {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.menu {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 12px 0;
  }
  &__logo {
    width: 110px;
  }
  &__links {
    width: max-content;
    margin: 0 auto;
    background-color: $maincolor-light;
    font-size: 20px;
    position: absolute;
    top: 70px;
    padding: 30px 0;
    @media screen and (min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0);
      position: static;
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-desktop) {
        margin: 0;
        width: fit-content;
      }
    }
    a {
      margin: 0 auto;
      display: block;
      padding: 10px 0;
    }
    &.expandMenu {
      display: none;
      @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        justify-content: space-between;
      }
    }
    &.full-width {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (min-width: $breakpoint-desktop) {
        width: 300px;
        transform: none;
      }
    }
  }
  &__hamburger {
    cursor: pointer;
    @media screen and (min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}
