h1 {
  font-size: 26px;
  font-family: $font-primary;
  margin: 0;
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 46px;
  }
}
h2 {
  font-family: $font-primary;
  font-size: 24px;
  margin: 0;
}

a {
  font-family: $font-primary;
  text-decoration: none;
  color: black;
}
a:hover {
  color: $accent;
}
p {
  font-family: $font-secondary;
  font-size: 14px;
}
